{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/ranking.css">
{% endblock %}

{% block title %} 랭킹 {% endblock %}

{% block content %}
    <div class="row mt-3">
        <h1>랭킹</h1>
    </div>

    <div class="row mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">순위</th>
                <th scope="col">이름</th>
                <th scope="col">점수</th>
                </tr>
            </thead>
        <tbody>
            {% for rank in ranks %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><button value="{{ rank[0] }}" class="btn btn-class rank-btn">{{ rank[0] }}</button></td>
                <td>{{ rank[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block navbar %}
    <footer>
        <div class="row fixed-bottom">
            <button id="nav-footprint" class="btn col-4 center selected">
                <img src="/static/image/footprint.svg" width="25px" height="25px">
                <div>발자국 기록</div>
            </button>
            <button id="nav-checklist" class="btn col-4 center">
                <img src="/static/image/checklist.svg" width="25px" height="25px">
                <div>체크리스트</div>
            </button>
            <button id="nav-ranking" class="btn col-4 center">
                <img src="/static/image/rank_green.svg" width="25px" height="25px">
                <div class="txt-green">랭킹</div>
            </button>
        </div>
    </footer>
{% endblock %}

{% block js %}
    <script src="/static/js/ranking.js"></script>
{% endblock %}